@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Geist+Mono:wght@100..900&family=VT323&display=swap');

html, body {
  background-color: #333;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  overflow: auto;
      
  
}



.cmd-exit{
  color: red;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  font-size: 2rem;
  
}





.command-name {
  color: #d29512; 
  font-weight: bold;
} 

.wmsg{
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.cmd-output {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;

  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  color: azure;
}

.cmd-command{
  color: #d29512;
}

.cmd-color{
  color: hsl(180, 57%, 80%);
}

.terminal-output{
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;

  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.help-orange{
  color: #d29512;
}

.h-line{
  color: whitesmoke;
}


.terminal {
  margin-left: 1.2rem;
  padding-bottom: 1.2rem;

}
